[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
gitchangelog = "*"
twine = "*"
wheel = "*"
black = "*"
sphinx = "*"
pre-commit = "*"

[packages]
hypothesis = "*"
result = "*"
black = "*"
wrapt = {git = "https://github.com/GrahamDumpleton/wrapt.git", ref = "develop"}
structlog = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
