[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
gitchangelog = "*"
twine = "*"
wheel = "*"
black = "*"

[packages]
aiounittest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
